@import 'css/breakpoints';
@import 'css/functions';

.container {
    flex-grow: 1;
    min-height: 70vh;
    flex-basis: 70%;

    display: flex;
    flex-direction: column;
    gap: 8px;
    @include resolutionDown($tablet) {
        flex-grow: 0;
        flex-basis: 100%;
    }
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    @include resolutionDown($tablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

.center {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}