.sidebar {
    flex-basis: 30%;
    padding: 24px;
}

.content {
    flex-grow: 1;
    padding: 24px;
    margin-left: -24px;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
}
.pageTopContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
        margin-bottom: 16px;
    }
}
.pageTopContentButtons {
    button {
        margin-left: 16px;
    }
}
.pageContent {
    flex-grow: 1;
}


.slogan {
    margin-left: 24px;
}

.blockCell {
    width: 700px;
    border: 1px solid;
}